@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

html, body{
width: 100%;
height: 100%;
background-color: black;
padding: 0;
margin: 0;
}

.main-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-card{
    text-align: center;
    justify-content: center;
    
    background-color:  #1a1a1a;
    height: 650px;
    width: 420px;
    border-radius: 10px;

    display: inline-block;
}

img{
    margin-top: 50px;
    width: 90px;
    height: 90px;
    border-radius: 360px;
}

h2{
    margin-top: 20px;
    display: block;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: greenyellow;
    font-size: 12px;
    
}

p{
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    color:  #cccccc;
    font-size:12px ;
    font-weight: 400;
    padding-bottom: 10px;
}

.b-button{
    size: border-box;
    background-color: #333333;
    width: 300px;
    height:50px;
    color: white;
    border-radius:10px;
    border: 1px solid #333333;
    margin-bottom: 15px;
    font-weight: 600;
}

.bb-button{
    size: border-box;
    background-color: #333333;
    width: 300px;
    height:50px;
    color: white;
    border-radius:10px;
    border: 1px solid #333333;
    font-weight: 600;
    
}


.bb-button:hover, .b-button:hover{
    background-color: #302e2e;
    cursor: pointer;
}

.attribution{
    color: white;
}

a{
    text-decoration: none;
}